<!DOCTYPE html>
<html>
<head>
  <title><%=yield(:title) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="page-header">
  <h2>Api keys get</h2>
  <nav role="navigation" class="navbar navbar-default">
  <div class="navbar-header">
    <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>

  <div id="navbarCollapse" class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
      <li class="/"><a href="#">Home</a></li>
      <li><a href="/showallkeys">Apikeys</a></li>
      <li><a href="admin">Admin</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><% if @current_user %>Logged in as <%= @current_user.name%>
          <li><a href="/logout">Logout</a></li>
      <% else %> Not logged in<% end %> </li>
    </ul>
  </div>
</nav></div>
<div class="container">

<%= yield %>
</div>
</body>
</html>
