<div class="jumbotron">
  <h3>Api keys</h3>
  <p>Here are all your applications and api keys</p>
  <p><a href="/apikeys">Add new application</a></p>
</div>
<% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>
<div class="row">
  <% @apikey.each do |apikey|%>
      <div class="col-sm-6 col-md-4">
        <h3><%= apikey.name%></h3>
        <p><%= apikey.about%></p>
        Your apikey: <p><em><%= apikey.api_key%></em></p>
        <a href="#">Edit</a>
        <a href="/admin/<%= apikey.id%>>/delete" data-confirm="Are you sure?" data-method="delete">Ta bort </a>
      </div>
  <% end%>
</div>