<%=content_for :title do%>
Titel goes here
<% end %>
<h1>test!</h1>
<% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>
<fieldset>
  <div class="col-md-6 col-md-offset-3">
  <%= form_tag(login_path, method:"post") do %>

  <p><%= label_tag(:name, "Name") %></p>
  <p><%= text_field_tag(:name)%></p>
  <p><%= label_tag(:password, "Password") %></p>
  <p><%= password_field_tag(:password) %></p>
  <p><%= submit_tag("Log in") %></p>
      <% end %>
    <p> <a href="/register">Register new user</a></p>
    </div>
</fieldset>